.menu-form {
  position: relative;
  display: inline-block;
  padding: 4px 0;
  color: #fff;
  border: 0;
  text-align: center;
  background-color: transparent;
  border-bottom: solid 1px #fff;
  @include mq(sm) {
    font: 12px sans-serif;
    width: 15%;
  }
  @include mq() {
    font: 16px sans-serif;
    width: 20%;
  }
}

.menu-form:focus {
  border-bottom: 1px solid cyan;
  outline: none;
  transition: all .4s;
}
