
#info-container {
  // box-shadow: 1px 0px 10px rgba(100, 100, 100, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  background-color: #24292e;
  color: #fff;
  padding-top: 1%;
  @include mq(sm) {
    height: 30px;
    padding-left: 1%;
  }
  @include mq() {
    height: 50px;
    padding-left: 1%;
  }
}

.input-area {
  display: flex;
}

.arrows {
  color: #fff;
  @include mq(sm) {
    margin-left: 0.3em;
    margin-top: 0.3em;
  }
  @include mq() {
    margin-left: 0.6em;
  }
}

.fa-search,
.fa-angle-double-left,
.fa-angle-double-right,
.fa-angle-left,
.fa-angle-right {
  @include mq(sm) {
    font-size: 1.2em;
  }
  @include mq() {
    font-size: 2em;
  }
}

.buttons:hover {
  opacity: 0.5;
}

#request img {
  @include mq(sm) {
    height: 1.2em;
    margin: 0.3em;
  }
  @include mq() {
    height: 23px;
    padding-top: 0.5em;
    margin-left: 0.8em;
  }
}

// commit num
.commit-area {
  @include mq(sm) {
    width: 80%;
  }
  @include mq() {
    width: 80%;
  }
}

#commit-num {
  @include mq(sm) {
    height: 12px;
  }
  @include mq() {
    height: 20px;
  }
}

.warning {
  color: #aaa;
  @include mq(sm) {
    font-size: 5px !important;
  }
  @include mq() {
    font-size: 11px;
  }
}

.num {
  @include mq(sm) {
    font-size: 12px;
  }
  @include mq() {
    font-size: 16px;
  }
}


.commit-area {
  position: fixed;
  margin-left: 1em;
  height: 20px;
  @include mq(sm) {
    top: 40px;
  }
  @include mq() {
    top: 70px;
  }
}
