
#info-container {
  // box-shadow: 1px 0px 10px rgba(100, 100, 100, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  background-color: #24292e;
  color: #fff;
  @include mq(sm) {
    height: 30px;
    padding: 0.7em;
  }
  @include mq() {
    height: 50px;
    padding: 1em;
  }
}

.input-area {
  display: flex;
  @include mq(sm) {
    height: 22px;
  }
  @include mq() {
    height: 30px;
  }
}

.arrows {
  color: #fff;
  @include mq(sm) {
    margin-left: 0.6em;
  }
  @include mq() {
    margin-left: 0.6em;
  }
}

.path-divider {
  color: #aaa;
  @include mq(sm) {
    font-size: 18px;
    margin: 0.10em;
  }
  @include mq() {
    font-size: 25px;
    margin: 0 0.25em;
  }
}

.fa-angle-double-left,
.fa-angle-double-right,
.fa-angle-left,
.fa-angle-right {
  @include mq(sm) {
    font-size: 1.6em;
  }
  @include mq() {
    font-size: 2.3em;
  }
}

.buttons:hover {
  opacity: 0.5;
}

#request img {
  @include mq(sm) {
    height: 17px;
    margin: 0.3em;
  }
  @include mq() {
    height: 23px;
    padding-top: 0.5em;
    margin-left: 0.8em;
  }
}

.forms {
  display: inline-block;
  position: absolute;
  width: 800px;
}
// commit num
.commit-area {
  @include mq(sm) {
    width: 80%;
  }
  @include mq() {
    width: 80%;
  }
}

#commit-num {
  color: #fff;
  @include mq(sm) {
    margin-bottom: 3px;
    height: 12px;
  }
  @include mq() {
    margin-bottom: 5px;
    height: 20px;
  }
}

.warning {
  color: #aaa;
  @include mq(sm) {
    font-size: 5px !important;
  }
  @include mq() {
    font-size: 11px;
  }
}

.num {
  @include mq(sm) {
    font-size: 12px;
  }
  @include mq() {
    font-size: 16px;
  }
}
