body {
  background-color: #fff;
  font-family: -apple-system, 'BlinkMacSystemFont'; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#info-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  background-color: #24292e;
  color: #fff; }

textarea {
  resize: none;
  padding: 0; }

.input-area {
  display: flex; }

.arrows {
  color: #fff; }

.path-divider {
  color: #aaa; }

.buttons:hover {
  opacity: 0.5; }

@media screen and (max-width: 760px) {
  #info-container {
    height: 30px;
    padding: 0.7em; }

  #request img {
    height: 17px;
    margin: 0.3em; }

  textarea {
    font-size: 10px;
    border-radius: 3px;
    width: 60px;
    margin: 5px 0 0 0; }

  .input-area {
    height: 22px; }

  #page-form {
    width: 30px; }

  .path-divider {
    font-size: 18px;
    margin: .10em; }

  #show-window {
    top: 5%;
    margin-top: 20px; }

  .arrows {
    margin-left: 0.6em; }

  .fa-angle-double-left, .fa-angle-left, .fa-angle-right, .fa-angle-double-right {
    font-size: 1.6em; } }
@media screen and (min-width: 761px) {
  #info-container {
    height: 50px;
    padding: 1em; }

  #request img {
    height: 23px;
    padding-top: 0.5em;
    margin-left: 0.8em; }

  textarea {
    font-size: 16px;
    border-radius: 5px;
    margin: 5px 0 0 0; }

  .input-area {
    height: 30px; }

  #page-form {
    width: 75px; }

  .path-divider {
    font-size: 25px;
    margin: 0 .25em 0 .25em; }

  #show-window {
    top: 10%;
    margin-top: 20px; }

  .arrows {
    margin-left: 0.8em; }

  .fa-angle-double-left, .fa-angle-left, .fa-angle-right, .fa-angle-double-right {
    font-size: 2.2em; } }
.forms {
  display: inline-block;
  position: absolute;
  width: 800px; }

#show-window {
  position: fixed;
  overflow: auto;
  right: 0;
  bottom: 1%;
  left: 0; }

.commits-list-item {
  list-style: none;
  border-top: 1px solid #eaecef;
  margin: 0;
  padding: 0; }

.commits-list-item:hover {
  background-color: #f5fbff; }

.table-list-cell {
  display: table-cell;
  font-size: 12px;
  padding: 8px 10px;
  position: relative;
  vertical-align: top;
  border-left: 1px solid #eaecef; }

.commit-title {
  margin: 0;
  padding: 0; }

.message {
  font-size: 14px;
  color: #24292e; }

.commit-area {
  display: flex; }

@media screen and (max-width: 760px) {
  .commit-area {
    width: 500px; }

  .commit-area img {
    margin-top: 3px;
    height: 0.7em; }

  #commit-num {
    color: #fff;
    font-size: 11px;
    margin: 2px;
    height: 12px; }

  .warning {
    font-size: 5px !important; } }
@media screen and (min-width: 761px) {
  .commit-area {
    width: 800px; }

  .commit-area img {
    margin-top: 7px;
    height: 1em; }

  #commit-num {
    color: #fff;
    margin: 5px;
    height: 20px; }

  .warning {
    font-size: 11px; } }
.text-emphasized {
  font-weight: 600; }

.warning {
  font-size: 11px;
  color: #aaa; }

.author-area {
  display: flex; }

.author {
  font-size: 12px;
  margin: 0 1em 0 1em;
  color: #586069; }

.date {
  font-size: 12px;
  color: #586069; }

/*# sourceMappingURL=style.css.map */
