@import "media_query";
body {
  background-color: #fff;
  font-family: -apple-system, 'BlinkMacSystemFont';
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#show-window {
  @include mq(sm) {
    top: 5%;
    margin-top: 20px;
  }
  @include mq() {
    top: 10%;
    margin-top: 20px;
  }
  position: fixed;
  overflow:auto;
  right: 0;
  bottom: 1%;
  left: 0;
}


@import "menu";
@import "commit";
