meta(charset="utf-8")
// jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

script(src="src/utils.js")
script(src="src/CVModel.js")
script(src="src/CVView.js")
script(src="src/CVController.js")
script(type="text/javascript").
  $(document).ready(function() {
  new CVController();
  });
