.commits-list-item {
  list-style: none;
  border-top: 1px solid #eaecef;
  margin: 0;
  padding : 0;
}

.commits-list-item:hover {
  background-color: #f5fbff;
}

.table-list-cell {
  display: table-cell;
  font-size: 12px;
  padding: 8px 10px;
  position: relative;
  vertical-align: top;
  border-left: 1px solid #eaecef;
}

.commit-title {
  margin: 0;
  padding : 0;
}
.message {
  font-size: 14px;
  color: #24292e;
}

// commit num

#commit-num {
  color: #fff;
  margin: 5px;
  height: 20px;
}
.text-emphasized {
  font-weight: 600;
}
