meta(charset="utf-8")

meta(name="viewport" content="width=device-width, initial-scale=1")
title commit-stalker

// update the version number as needed
script(defer, src="/__/firebase/5.8.3/firebase-app.js")
// include only the Firebase features as you need
script(defer, src="/__/firebase/5.8.3/firebase-auth.js")
script(defer, src="/__/firebase/5.8.3/firebase-database.js")
script(defer, src="/__/firebase/5.8.3/firebase-messaging.js")
script(defer, src="/__/firebase/5.8.3/firebase-storage.js")
// initialize the SDK after all desired features are loaded
script(defer, src="/__/firebase/init.js")
// jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

script(src="src/utils.js")
script(src="src/CVModel.js")
script(src="src/CVView.js")
script(src="src/CVController.js")
script(type="text/javascript").
  $(document).ready(function() {
  new CVController();
  });
