doctype html
html(lang="en")
  head
    include _head.pug
  body
    main
      article
        #page
          input(type="text", id="username-form" value="sass")
          span /
          input(type="text", id="reponame-form" value="sass")
          input(type="text", id="pagenum-form" value="1")
          button#request request
          button#latest-request <<
          button#oldest-request >>
          #show-window
