#header-menu {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#site-header {
  background-color: rgb(0, 123, 207);
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.7rem 1.5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3),
}

.site-title {
  // background-color: #4aa5ff;
  font-weight: 700;
  font-size: 1.3em;
  display: table-cell;
  a {
    // color: #39383e;
    color: #f9f7f5;
    font-size: 1.3em;
    display: table;
    text-decoration: none;
    border-bottom: none;
  }
}