.cs-button {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: rgb(77, 70, 70);
  font-size: 1.5em;
  margin-right: 0.3em;
  border-radius: 50%;
  transition: 0.3s;
}

.cs-button:hover{
  background-color: rgb(190, 219, 255);
  cursor: pointer;
}