.site-footer {
  position: fixed;
  height: 2em;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  a {
    color: #6a737d;
  }
}