.request-form {
  color: #fff;
  background-color: transparent;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #777;
  padding: 0.3em;
  margin: 0 8px;
  transition: 0.3s;
  text-align: center;
}

.request-form:focus {
  outline: none;
  border-bottom: 2px solid #eee;
}