@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", "SF UI Text", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
  color: #031b4e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}